@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center">FAST FOOD</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your city's top restaurants</h2>
        <p>
            With a great variety of restaurants you can order your favourite food or explore new restaurants nearby!
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Fast delivery</h2>
        <p>We pride ourselves on speed. Order or send anything in your city and we'll pick it up and deliver it in minutes.</p>
    </div>
    <div class="col-md-4">
        <h2>Groceries delivery & more</h2>
        <p>Find anything you need! From supermarkets to shops, pharmacies to florists — if it's in your city you can count on us to get it.</p>
    
    </div>
</div>